<span style='color: #000'>1001 frames</span>	<span style='color: #900'>23,296 KB</span>	<span style='color: #090'>509.38 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />